/*main elements*/
html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
    overflow:hidden;
}
body{
    height:100%; /* force the BODY element to match the height of the HTML element */
}

/*components*/
.btn{
    cursor:pointer;
    background-color: transparent;
    border:none;
 }
.nav{
    position: sticky;
    top:0px;
    left:0px;
}
.ul{
    width:100%;
}
.li{ 
    width:100%;
    height: 40px;
    vertical-align: center;
}
.active>.li{
    background-color: blue;
}

/*frames*/
.frame{
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    height: 300px;
    width: 200px;
}
.frame-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, max-content));
    grid-template-rows: repeat(auto-fit, minmax(310px, max-content));
    grid-gap: 0px 16px;
    padding-top: 20px;
    justify-content: center;
    overflow-x:hidden;
    overflow-y:scroll;
    height: calc(100vh - 40px); /*calc nav height*/
    width: calc(100wv - 200px); /*calc sidepanel width*/
}
@media (max-width: 768px) {
    .frame-container{
        margin-left:0px !important; /*override panelVisibility style*/
    }
}

/*sidepanel*/
.sidepanel{
    display: flex;
    position: absolute;
    left: 0px;
    top: 40px;
    width: 200px;
    height: 100%;
    background-color: rgb(231, 231, 231);
}
@media (min-width: 768px) {
    .sidepanel{
        height:100vh;
        flex: 0.25 0 0%;
        top:40px;
        left:0px;
    }
}

/*styles*/
.bg-light{
    background-color: rgb(231, 231, 231);
}
.bg-dark{
    background-color: rgb(46, 46, 46);
}
.text-light{
    color: rgb(231, 231, 231);
}
.text-dark{
    color: rgb(46, 46, 46);
}

/*display*/
.d-flex{
    display: flex !important;
}
.d-none{
    display: none !important;
}
